@tailwind base;
@tailwind components;
@tailwind utilities;

.container {
  @apply mx-auto px-4 max-w-4xl;
}

.theme-blue {
  --primary: theme("colors.blue.500");
  --primary-light: theme("colors.blue.300");
  --primary-dark: theme("colors.blue.700");
}

.theme-green {
  --primary: theme("colors.green.500");
  --primary-light: theme("colors.green.300");
  --primary-dark: theme("colors.green.700");
}

.theme-red {
  --primary: theme("colors.red.500");
  --primary-light: theme("colors.red.300");
  --primary-dark: theme("colors.red.700");
}

.theme-yellow {
  --primary: theme("colors.yellow.500");
  --primary-light: theme("colors.yellow.300");
  --primary-dark: theme("colors.yellow.700");
}
